<!DOCTYPE html>
<html>
<head>
  <title>Reminderly</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- <link rel="stylesheet" href="a"> -->
</head>
<body>
  <nav>
    <h3><a href="/todos">Todos</a></h3>
    <h3><a href="javascript:history.back()">Back</a></h3>
  </nav>

<%= yield %>

</body>
</html>
