<!DOCTYPE html>
<html>
<head>
  <title>Reminderly</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <h2><a href="/todos">Todos</a></h2>
    <h2><a href="/todos/new">New</a></h2>
  </nav>

<%= yield %>

</body>
</html>
